@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src: url('poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: italic;
  src: url('poppins/Poppins-Italic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('poppins/Poppins-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  src: url('poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: italic;
  src: url('poppins/Poppins-BoldItalic.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: url('poppins/Poppins-LightItalic.ttf');
}
