* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #444;
}
body > header {
  padding: 2em 1em;
  background-color: #ffe82b;
  background: linear-gradient(0deg, hsla(53.5, 100%, 58.4%, 1) 0%, hsla(53.5, 100%, 58.4%, 0.5) 30%, hsla(53.5, 100%, 58.4%, 0) 100%),
              repeating-radial-gradient(circle at bottom, hsla(53.5, 100%, 58.4%, 1) 0, hsla(53.5, 100%, 80%, 1) 96px);
  text-align: center;
}
body > header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body > header .container div.txt {
  flex: 3;
}
body > header .container div.img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > header h1 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
}
body > header p {
  margin: 0;
}
body > header img {
  width: 100%;
  min-width: 128px;
  max-width: 200px;
}
body > header.large {
  padding: 4em 1em;
}
body > header.large h1 {
  margin-bottom: 0.6em;
}
body > header.large div.txt {
  margin: 2em 0;
}
nav {
  background-color: hsl(214, 100%, 85%);
  margin: 0 0 4em;
  font-size: 0.9em;
}
nav .container {
  display: flex;
  flex-wrap: wrap;
}
nav a {
  display: inline-block;
  flex: 1;
  padding: 8px 12px;
  color: #444;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
nav a:hover, nav a.active {
  background-color: #ffe82b;
  color: #333;
}
footer {
  margin: 6em 0 2em;
  font-size: 0.8em;
}
footer .prefooter {
  padding: 0.5em 0;
  margin: 0 0 1.5em;
  background-color: #ffe82b;
  background-color: hsl(53.5, 100%, 76%);
  background: repeating-radial-gradient(circle, hsla(53.5, 100%, 76%, 1) 0, hsla(53.5, 100%, 82%, 1) 96px);
}
footer .prefooter h2 {
  margin-top: 1rem;
}
article.list {
  margin-bottom: 2em;
}
article header h1 {
  font-weight: 500;
  margin: 0;
}
article header p {
  margin: 0;
  font-style: italic;
  font-size: 0.9em;
  color: #777;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.person {
  width: 100%;
  max-width: 360px;
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 8px;
  background-color: hsl(53.5, 100%, 76%);
  background: repeating-radial-gradient(circle at top left, hsla(53.5, 100%, 76%, 1) 0, hsla(53.5, 100%, 86%, 1) 96px);
}
.person a {
  color: #444;
  font-size: 0.8em;
}
img {
  max-width: 100%;
}
img.profile {
  width: 75%;
  border-radius: 100%;
}

h1 {
  margin-top: 2em;
  font-weight: 500;
  cursor: default;
}
h1 span {
  font-weight: 300;
}
h2 {
  margin-top: 2em;
  font-weight: 500;
}
h3 {
  font-weight: 500;
}
p.subtitle {
  font-size: 0.9em;
  font-style: italic;
}
a {
  color: #1270ea;
}
ul.history {
  margin: 0 0 0 16px;
  padding: 1em 0;
  list-style-type: none;
  border-left: solid 3px #777;
}
ul.history li {
  position: relative;
  margin-bottom: 2em;
  padding: 0 1em;
}
ul.history li::before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: -12px;
  width: 15px;
  height: 15px;
  margin-bottom: 2em;
  border: solid 3px #fff;
  background-color: #777;
  border-radius: 100%;
}
ul.history li:last-child {
  margin-bottom: 0;
}
ul.history h3 {
  margin: 0 0 0.5em;
}
ul.history p {
  margin: 0;
}