{% extends "base_default.html" %}

{% block title %}
    Whoops, not found
{% endblock title %}

{% block prefooter %}
{% endblock prefooter %}

{% block content %}
    <h1>Whoops, not found</h1>
    
    <p>
        You're out of luck, that link doesn't seem to exist.
    </p>
{% endblock content %}