<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Key to Identity Foundation{% endblock title %}</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/stylesheet.css">
    {% block rss %}{% endblock rss %}
</head>
<body>

    {% block header %}
        <header>
            <div class="container">
                <div class="txt">
                    <h1>Key<span>to</span>Identity <span>Foundation</span></h1>
                </div>
            </div>
        </header>
    {% endblock header %}

    {% block nav %}
        <nav>
            <div class="container">
                <a href="/">Welcome</a>
                <a href="/manifesto">Manifesto</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
                <a href="/donate">Donate</a>
            </div>
        </nav>
    {% endblock nav %}

    
    <main>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>
    
    <footer>
        {% block prefooter %}
            <div class="prefooter">
                <div class="container">
                    <h2>Interested in contributing?</h2>
                    <p>We are working hard on developing new technologies that benefit all citizens of the Internet. Our independence and dedication to the people is guaranteed by our funding model based entirely on donations.</p>
                    <p>If you are as passionate about our cause as we are, please consider <a href="/donate">donating to the foundation</a> to help it accomplish its mission.</p>
                </div>
            </div>
        {% endblock prefooter %}

        {% block footer %}
            <div class="container">
                <p>Copyright &copy; Key to Identity Foundation 2021</p>
                <p>All content on this site, unless specifically stated otherwise, is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a></p>
                <p><a href="/privacy">Privacy Policy</a> summary: &quot;Your privacy is respected here&quot;</p>
            </div>
        {% endblock footer %}
    </footer>

</body>
</html>