{% extends "base_default.html" %}

{% block title %}
    Key to Identity Foundation
{% endblock title %}

{% block nav %}
    <nav>
        <div class="container">
            <a href="/" class="active">Welcome</a>
            <a href="/manifesto">Manifesto</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a href="/donate">Donate</a>
        </div>
    </nav>
{% endblock nav %}

{% block header %}
    <header class="large">
        <div class="container">
            <div class="txt">
                <h1>Key<span>to</span>Identity <span>Foundation</span></h1>
                <p class="subtitle">Working&nbsp;towards secure, decentralized and interpersonal&nbsp;identity&nbsp;verification</p>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <h1>
        {{ section.title | safe }}
    </h1>
    
    {{ section.content | safe }}
{% endblock content %}