{% extends "base_default.html" %}

{% block title %}
    {{ page.title | safe }} — KIF
{% endblock title %}

{% block nav %}
    <nav>
        <div class="container">
            <a href="/">Welcome</a>

            {% if page.components[0] == "manifesto" %}
                <a href="/manifesto" class="active">Manifesto</a>
            {% else %}
                <a href="/manifesto">Manifesto</a>
            {% endif %}

            {% if page.components[0] == "projects" %}
                <a href="/projects" class="active">Projects</a>
            {% else %}
                <a href="/projects">Projects</a>
            {% endif %}

            {% if page.components[0] == "contact" %}
                <a href="/contact" class="active">Contact</a>
            {% else %}
                <a href="/contact">Contact</a>
            {% endif %}

            {% if page.components[0] == "donate" %}
                <a href="/donate" class="active">Donate</a>
            {% else %}
                <a href="/donate">Donate</a>
            {% endif %}
        </div>
    </nav>
{% endblock nav %}

{% block content %}
    <h1>
        {{ page.title | safe }}
    </h1>
    
    {{ page.content | safe }}
{% endblock content %}